<!DOCTYPE html>
<html>
<head>
    <title>The Sprinkle Tinkler</title>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>

    <style>
        .dark-mode {
            background-color: #343a40;
            color: #fff;
        }
        .btn {
            margin: 5px;
        }
        #calendar {
            max-width: 1100px;
            max-height: 500px;
            margin: 25px auto;
        }
    </style>
</head>


<body class="p-3 mb-2">
    <h1 class="text-center p-3 mb-2">The Sprinkle Tinkler</h1>
    <button id="dark-mode-toggle" class="btn btn-info mb-3">Toggle Dark Mode</button>
    <button onclick="window.location.href='/schedule'" class="btn btn-primary mb-3">Go to Scheduling Page</button>
    <div id='calendar'></div>
    <button id="add-sprinkler" class="btn btn-success mb-3">Add Sprinkler</button>
    <div id="sprinkler-buttons" class="d-flex flex-wrap justify-content-center"></div>
    
    <div>
        <button id="test-button" class="btn btn-primary">Test</button>
    </div>

    <script>
        // Load sprinklers from the database
        $.getJSON('/sprinklers', function(data) {
            $.each(data, function(key, val) {
                // load the sprinkler id and name into the button group
                addSprinklerButton(val.id, val.name);
            });
        });

        // Add and remove sprinkler button functionality
        $('#add-sprinkler').click(function() {
            $.post('/sprinklers', function(data) {
                addSprinklerButton(data.id, "Sprinkler");
            });
        });

        function addSprinklerButton(id, name) {
            
            var idButton = $('<button class="btn btn-secondary mr-0 ml-0" data-id="' + id + '">' + id + '</button>');
            var sprinklerButton = $('<button class="btn btn-secondary mr-0 ml-0" data-id="' + id + '">' + name + '</button>');
            var editButton = $('<button class="btn btn-secondary mr-0 ml-0"><i class="bi-pencil-square"></i></button>');
            var deleteButton = $('<button class="btn btn-danger ml-0">x</button>');
            var buttonGroup = $('<div class="btn-group mr-1 ml-1" role="group"></div>');


            deleteButton.click(function(event) {
                event.stopPropagation();  // prevent the click event from triggering the sprinkler button's click event
                if (confirm('Are you sure you want to delete this sprinkler?')) {
                    $.ajax({
                        url: '/sprinklers/' + id,
                        type: 'DELETE',
                        success: function() {
                            buttonGroup.remove();
                        }
                    });
                }
            });

            sprinklerButton.click(function() {
                $.ajax({
                    url: '/toggle',
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({
                        id: id,
                        state: $(this).hasClass('btn-primary') ? 'off' : 'on'  // change 'on' to 'btn-primary'
                    }),
                    dataType: "json",
                    success: () => {
                        $(this).toggleClass('btn-secondary btn-primary');  // change 'on' to 'btn-secondary btn-primary'
                    }
                });
            });

            // On edit button click
            editButton.click(function() {
                // If editButton is a checkbox, i.e., we're in edit mode
                if (editButton.hasClass('btn-success')) {
                    var newId = idInput.val();
                    var newName = nameInput.val();

                    // Send an AJAX request to update the sprinkler
                    $.ajax({
                        url: '/sprinklers/' + id,
                        type: 'PUT',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({
                            id: newId,
                            name: newName
                        }),
                        dataType: "json",
                        success: () => {
                            // Remove the current button group
                            buttonGroup.remove();

                            // Re-add the button group, which will pull the updated data from the database
                            addSprinklerButton(newId, newName);
                        },
                        error: (jqXHR) => {
                            // If an error occurs, revert the changes and show an alert
                            alert(jqXHR.responseJSON.error);
                            idButton.text(id);
                            sprinklerButton.text('Sprinkler');
                        }
                    });
                    editButton.html('<i class="bi bi-pencil-square"></i>'); // Changed to 'pencil' symbol
                    editButton.removeClass('btn-success').addClass('btn-warning');
                } else {
                    // If editButton is a pencil, i.e., we're in view mode
                    idButton.replaceWith(idInput = $('<input type="number" value="' + idButton.text() + '">'));
                    sprinklerButton.replaceWith(nameInput = $('<input type="text" value="' + sprinklerButton.text() + '">'));
                    editButton.html('<i class="bi bi-check"></i>'); // Changed to 'check' symbol
                    editButton.removeClass('btn-warning').addClass('btn-success');
                }
            });



            buttonGroup.append(idButton, sprinklerButton, editButton, deleteButton);



            // Find the right place to insert the new button group
            var existingButtons = $('#sprinkler-buttons .btn-group');
            var inserted = false;
            for (var i = 0; i < existingButtons.length; i++) {
                var existingId = parseInt($(existingButtons[i]).find('button').data('id'));
                if (id < existingId) {
                    $(existingButtons[i]).before(buttonGroup);
                    inserted = true;
                    break;
                }
            }
            if (!inserted) {
                // If the button was not inserted (because the id is greater than all existing ids), append it at the end.
                $('#sprinkler-buttons').append(buttonGroup);
            }
        }


        // Calendar initialization
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: function(fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '/get-events',
                        type: 'GET',
                        success: function(data) {
                            successCallback(data.events);
                        },
                        error: function() {
                            failureCallback('There was an error while fetching events.');
                        }
                    });
                }
            });
            calendar.render();
        });

        // navigate to test page
        $('#test-button').click(function() {
            window.location.href = '/test';
        });

    </script>
</body>
</html>
