<!DOCTYPE html>
<html>
<head>
    <title>Sprinkler Schedule</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Include Bootstrap JS and its dependencies -->

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <div class="container">
        <h1>Sprinkler Schedule</h1>
            
            <button id="add-schedule" class="btn btn-success mb-1">Add Schedule</button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Schedule ID</th>
                        <th>Schedule Name</th>
                        <th>Start Time</th>
                        <th>Frequency</th>
                        <th>Last Run</th>
                        <th>Next Run</th>
                        <th>Watering Tasks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.id }}</td>
                            <td>{{ schedule.name }}</td>
                            <td>{{ schedule.start_time }}</td>
                            <td>{{ schedule.frequency }}</td>
                            <td>{{ schedule.last_run }}</td>
                            <td>{{ schedule.next_run }}</td>
                            <td>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Task Order</th>
                                            <th>Duration</th>
                                            <th>Sprinkler</th>
                                            <th>Del</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in schedule.watering_tasks %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ task.duration }}</td>
                                                <td>{{ task.sprinkler_id }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm">X</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <button class="btn btn-primary mb-1 edit-schedule" data-schedule-id="{{ schedule.id }}">Edit</button>
                                <button class="btn btn-danger mb-1 delete-schedule" data-schedule-id="{{ schedule.id }}">Delete Schedule</button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <h1>Watering Tasks</h1>
        <button id="add-task" class="btn btn-success mb-3">Add Task</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Duration</th>
                    <th>Sprinkler</th>
                    <th>Schedule</th>
                </tr>
            </thead>
            <tbody>
                {% for task in watering_tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.duration }}</td>
                        <td>{{ task.sprinkler_id }}</td>
                        <td>{{ task.schedule_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button onclick="window.location.href='/'" class="btn btn-primary mb-3">Back</button>
    </div>
        
    <!-- Modal -->
    <div class="modal fade" id="addScheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <input type="text" id="schedule-name" placeholder="Name" class="form-control mb-2">
            <input type="text" id="schedule-frequency" placeholder="Frequency" class="form-control mb-2">
            <input type="text" id="schedule-start-time" placeholder="Start Time" class="form-control mb-2">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="submit-schedule" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="editScheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editScheduleLabel">Edit Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="edit-schedule-name" placeholder="Name" class="form-control mb-2">
                    <input type="text" id="edit-schedule-frequency" placeholder="Frequency" class="form-control mb-2">
                    <input type="text" id="edit-schedule-start-time" placeholder="Start Time" class="form-control mb-2">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="update-schedule" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>  


    <!-------------------------->
    <!--       scripts        -->
    <!-------------------------->

    <script>

        $('#add-schedule').on('click', function() {
            $('#addScheduleModal').modal('show');
        });
        
        $('#submit-schedule').on('click', function() {
            let name = $('#schedule-name').val();
            let frequency = $('#schedule-frequency').val();
            let start_time = $('#schedule-start-time').val();
            $.ajax({
                url: '/schedules',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: name,
                    frequency: frequency,
                    start_time: start_time
                }),
                success: function(res) {
                    location.reload();
                },
                error: function(err) {
                    alert('Error: ' + err.responseJSON.error);
                }
            });
            $('#addScheduleModal').modal('hide');
        });

        $('#delete-schedule').on('click', function() {
            $.ajax({
                url: '/schedules',
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: id
                }),
                success: function(res) {
                    location.reload();
                },
                error: function(err) {
                    alert('Error: ' + err.responseJSON.error);
                }
            });
        });

        $('.delete-schedule').on('click', function() {
            let scheduleId = $(this).data('schedule-id');
            $.ajax({
                url: '/schedules/' + scheduleId,
                type: 'DELETE',
                success: function(res) {
                    location.reload();
                },
                error: function(err) {
                    alert('Error: ' + err.responseJSON.error);
                }
            });
        });

        let scheduleId = null;
        
        $('.edit-schedule').on('click', function() {
            let scheduleId = $(this).data('schedule-id');
            
            // Fetch the existing data of the schedule from the server
            $.ajax({
                url: '/schedules/' + scheduleId,
                type: 'GET',
                success: function(res) {
                    // Populate the fields with the existing data
                    $('#edit-schedule-name').val(res.name);
                    $('#edit-schedule-frequency').val(res.frequency);
                    $('#edit-schedule-start-time').val(res.start_time);

                    // Open the modal
                    $('#editScheduleModal').modal('show');
                },
                error: function(err) {
                    alert('Error: ' + err.responseJSON.error);
                }
            });
        });


        $('#update-schedule').on('click', function() {
            let name = $('#edit-schedule-name').val();
            let frequency = $('#edit-schedule-frequency').val();
            let start_time = $('#edit-schedule-start-time').val();
            $.ajax({
                url: '/schedules/' + scheduleId,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: name,
                    frequency: frequency,
                    start_time: start_time
                }),
                success: function(res) {
                    location.reload();
                },
                error: function(err) {
                    alert('Error: ' + err.responseJSON.error);
                }
            });
            $('#editScheduleModal').modal('hide');
        });

    </script>

</body>
</html>
